:root {
    --red: #b71e17;
    --yellow: #f4b006;
    --green: #308637;
    --blue: #1e15cd;
    --bg: #44435f;
    --fg: #acacd3;
    --fg2: #cbcbf0;
    --black: #12121a;
    --black2: #242430;
    --white: #efefff;
    --master-width: 700px;
}
.center-items {
    margin: auto;
    width: fit-content;
}
iframe {
    border-radius: 10px 10px 10px 0%;
    border-color: var(--black);
    border-width: 10px;
    border-style: solid;
}

html {
    background-color: var(--bg);
    
    /* transition-duration: 30s; */
}
h1 {
    /* background: linear-gradient(90deg, var(--bg), var(--red), var(--yellow), var(--green), var(--blue), var(--bg)); */
    background-color: var(--fg);
    text-align: center;
    width: var(--master-width);
    margin: auto;
    margin-bottom: 10px;
    border-color: var(--red) var(--blue) var(--green) var(--yellow);
    border-width: 10px;
    border-style: solid;
    border-radius: 10px 10px 10px 0%;
    /* transition: 0.25s ease-in; */
}
section {
    border: var(--black) solid 1px;
    background-color: var(--fg);
    width: var(--master-width);
    margin: auto;
    margin-top: 5px;
    border-color: var(--fg);
    border-width: 10px;
    border-style: solid;
    border-radius: 10px 10px 10px 0%;
    
}
h1:hover, section:hover {
    background-color: var(--fg2); 
    transition: 0.15s ease-in;
}
h2 {
    margin-top: 0;
    border-left: var(--black2) solid 5px;
    border-top: var(--black2) solid 3px;
    color: var(--black2);
    border-top-left-radius: 5px;
    padding-left: 3px;
    width: 10%;
    overflow:unset;
    white-space: nowrap;
}
section:hover{
    /* background-color: var(--fg2); */
    border-color: var(--fg2);
    
}
.seat {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(-45deg);
    margin: 1px;
}
.red {
    background-color: var(--red);
}
.yellow {
    background-color: var(--yellow);
}
.green {
    background-color: var(--green);
}
.blue {
    background-color: var(--blue);
}
.balloons {
    display: flex;
    padding-bottom: 10px;;
}
.date {
    color: var(--white);
    text-align: center;
}
.match {
    border: var(--white) solid 1px;
    padding: 10px;
    background-color: var(--black);
    border-radius: 10px 10px 10px 0%;
}
.match:hover {
    background-color: var(--black2);
}
.bracket {
    display: flex;
    justify-content: space-evenly;
    
    width: 95%;
    margin: auto;
}